<mat-toolbar color="primary">
  <button (click)="goBack()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ region?.LocalizedName }}</span>
  <span class="fill-remaining-space"></span>
  <button (click)="toggleFavourite()" mat-icon-button>
    <mat-icon *ngIf="isFavourite">favorite</mat-icon>
    <mat-icon *ngIf="!isFavourite">favorite_border</mat-icon>
  </button>
</mat-toolbar>
<mat-spinner *ngIf="loading"></mat-spinner>
<mat-list>
  <mat-list-item>
    {{ forecast?.pubDate | date:'yyyy-MM-dd' }}
  </mat-list-item>
  <mat-list-item>
    {{ forecast?.title }}
  </mat-list-item>
  <mat-list-item>
    <a href="{{ forecast?.link }}" *ngIf="forecast">Läs hela prognosen på pollenrapporten.se</a>
  </mat-list-item>
</mat-list>