<md-toolbar color="primary">
  <button (click)="goBack()" md-icon-button>
    <md-icon>arrow_back</md-icon>
  </button>
  <span>{{ region?.LocalizedName }}</span>
  <span class="fill-remaining-space"></span>
  <button (click)="toggleFavourite()" md-icon-button>
    <md-icon *ngIf="isFavourite">favorite</md-icon>
    <md-icon *ngIf="!isFavourite">favorite_border</md-icon>
  </button>
</md-toolbar>
<md-spinner *ngIf="loading"></md-spinner>
<md-list>
  <md-list-item>
    {{ forecast?.pubDate | date:'yyyy-MM-dd' }}
  </md-list-item>
  <md-list-item>
    {{ forecast?.title }}
  </md-list-item>
  <md-list-item>
    <a href="{{ forecast?.link }}" *ngIf="forecast">Läs hela prognosen på pollenrapporten.se</a>
  </md-list-item>
</md-list>